html,
body,
h1,
button {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: normal;
  font-size: calc(max(16px, 4vmin));
  line-height: 125%;
}

body,
button {
  font-size: calc(max(16px, 3vmin));
  line-height: 120%;
}

button {
  background: color-mix(in oklch, cornflowerblue 15%, transparent);
  border: calc(max(1px, 0.3vmin)) solid black;
  border-radius: 1vmin;

  padding: 1vmin 2vmin;

  overflow: hidden;
}

button:hover,
button:focus {
  background: color-mix(in oklch, cornflowerblue 35%, transparent);
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
