.button,
.emoji {
  width: 16vmin;
  aspect-ratio: 1;

  font-size: 9vmin;
  line-height: 16vmin;
  user-select: none;

  overflow: hidden;
}

.button {
  border-radius: 50%;
  padding: 0;

  margin-left: -50%;
  margin-top: -50%;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .button:focus,
  .button:hover {
    scale: 1.1;
    transition: scale 0.1s;
  }

  .button:focus .emoji,
  .button:hover .emoji {
    animation: wiggle infinite 0.4s linear;
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0turn);
    }
    25% {
      transform: rotate(0.05turn);
    }
    75% {
      transform: rotate(-0.05turn);
    }
  }
}
