.MoveButton-button,
.MoveButton-emoji {
  width: 16vmin;
  aspect-ratio: 1;

  font-size: 9vmin;
  line-height: 16vmin;
  user-select: none;

  overflow: hidden;

  backface-visibility: hidden;
  will-change: transform;
}

.MoveButton-button {
  position: absolute;
  left: calc(50% - 8vmin);
  top: calc(50% - 8vmin);

  border-radius: 50%;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .MoveButton-button:focus .MoveButton-emoji,
  .MoveButton-button:hover .MoveButton-emoji {
    animation: wiggle infinite 0.4s linear;
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0turn);
    }
    25% {
      transform: rotate(0.05turn);
    }
    75% {
      transform: rotate(-0.05turn);
    }
  }
}
